In [11]:
import sklearn

print('The scikit-learn version is {}.'.format(sklearn.__version__))

The scikit-learn version is 1.0.2.

In [12]:
import pandas as pd
import numpy as np

In [13]:
data=pd.read_csv('Housing.csv')

In [14]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000.0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000.0,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000.0,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000.0,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000.0,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [15]:
data.shape

(545, 13)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    float64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: float64(1), int64(5), object(7)
memory usage: 55.5+ KB

In [17]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

3500000.0     17
4200000.0     17
4900000.0     12
3150000.0      9
5600000.0      9
              ..
6580000.0      1
4319000.0      1
4375000.0      1
4382000.0      1
13300000.0     1
Name: price, Length: 219, dtype: int64
********************
6000    24
3000    14
4500    13
4000    11
5500     9
        ..
6862     1
4815     1
9166     1
6321     1
3620     1
Name: area, Length: 284, dtype: int64
********************
3    300
2    136
4     95
5     10
6      2
1      2
Name: bedrooms, dtype: int64
********************
1    401
2    133
3     10
4      1
Name: bathrooms, dtype: int64
********************
2    238
1    227
4     41
3     39
Name: stories, dtype: int64
********************
yes    468
no      77
Name: mainroad, dtype: int64
********************
no     448
yes     97
Name: guestroom, dtype: int64
********************
no     354
yes    191
Name: basement, dtype: int64
********************
no     520
yes     25
Name: hotwaterheating, dtype: int64
********************
no     373
yes    172
Name: airconditioning, dtype: int64
********************
0    299
1    126
2    108
3     12
Name: parking, dtype: int64
********************
no     417
yes    128
Name: prefarea, dtype: int64
********************
semi-furnished    227
unfurnished       178
furnished         140
Name: furnishingstatus, dtype: int64
********************

In [18]:
data.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [19]:
data.drop(columns=['prefarea'],inplace=True)

In [20]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    float64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  furnishingstatus  545 non-null    object
dtypes: float64(1), int64(5), object(6)
memory usage: 51.2+ KB

In [22]:
X=data.drop(columns=['price'])
y=data['price']

In [23]:
from sklearn .model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [25]:
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
542,3620,2,1,1,yes,no,no,no,no,0,unfurnished
496,4000,2,1,1,yes,no,no,no,no,0,unfurnished
484,3040,2,1,1,no,no,no,no,no,0,unfurnished
507,3600,2,1,1,yes,no,no,no,no,0,unfurnished
252,9860,3,1,1,yes,no,no,no,no,0,semi-furnished
...,...,...,...,...,...,...,...,...,...,...,...
70,4000,3,2,2,yes,no,yes,no,yes,0,semi-furnished
277,10360,2,1,1,yes,no,no,no,no,1,semi-furnished
9,5750,3,2,4,yes,yes,no,no,yes,1,unfurnished
359,3600,3,1,1,yes,no,no,no,no,1,unfurnished
192,6600,3,1,1,yes,yes,yes,no,no,0,furnished

In [26]:
print(X_train.shape)
print(X_test.shape)

(436, 11)
(109, 11)

In [27]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['mainroad','guestroom','basement','hotwaterheating','airconditioning','furnishingstatus']),remainder='passthrough')

In [28]:
scaler=StandardScaler()

In [29]:
lr=LinearRegression(normalize=True)

In [30]:
pipe=make_pipeline(column_trans,scaler,lr)

In [31]:
pipe.fit(X_train,y_train)

C:\Users\rajan\anaconda3\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['mainroad', 'guestroom',
                                                   'basement',
                                                   'hotwaterheating',
                                                   'airconditioning',
                                                   'furnishingstatus'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [32]:
y_pred_lr=pipe.predict(X_test)

In [33]:
r2_score(y_test,y_pred_lr)

0.6239988144470809

# applying Ridge and Lasso regression algo

In [34]:
ridge=Ridge()

In [35]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [36]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['mainroad', 'guestroom',
                                                   'basement',
                                                   'hotwaterheating',
                                                   'airconditioning',
                                                   'furnishingstatus'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [37]:
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.6453718478351366

In [38]:
lasso=Lasso()

In [39]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [40]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['mainroad', 'guestroom',
                                                   'basement',
                                                   'hotwaterheating',
                                                   'airconditioning',
                                                   'furnishingstatus'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [41]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.6450781498131724

In [42]:
import pickle

In [43]:
pickle.dump(pipe,open('TrainedModel.pkl','wb'))

In [44]:
X_test

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
239,4000,3,1,2,yes,no,no,no,no,1,furnished
113,9620,3,1,1,yes,no,yes,no,no,2,furnished
325,3460,4,1,2,yes,no,no,no,yes,0,semi-furnished
66,13200,2,1,1,yes,no,yes,yes,no,1,furnished
479,3660,4,1,2,no,no,no,no,no,0,unfurnished
...,...,...,...,...,...,...,...,...,...,...,...
76,6420,3,2,3,yes,no,no,no,yes,0,furnished
132,5200,3,1,3,yes,no,no,no,yes,0,semi-furnished
311,6060,2,1,1,yes,no,yes,no,no,1,semi-furnished
464,4500,2,1,2,yes,no,no,yes,no,1,semi-furnished
155,6100,3,2,1,yes,no,yes,no,no,2,furnished

In [45]:
y_test

239    4585000.0
113    6083000.0
325    4007500.0
66     6930000.0
479    2940000.0
         ...
76     6650000.0
132    5810000.0
311    4123000.0
464    3080000.0
155    5530000.0
Name: price, Length: 109, dtype: float64

In [47]:
pipe.predict(X_test)

array([ 4060610.88787774,  5866540.79697585,  4585426.60606339,
        7702590.11269947,  2833045.5788969 ,  7310650.25211124,
        3249846.30131639,  3259310.85413258,  2823013.52852885,
        8596878.71993082,  6813197.72396388,  3845707.68062653,
        4029939.63326965,  4898906.98100115,  4302430.24784519,
        1903001.64303398,  4317455.55766955,  3863923.97121662,
        3395768.11433913,  4702696.18367926,  6376912.76748319,
        6633592.45917452,  4898657.68726779,  2680410.91572833,
        4929354.27894562,  5941200.9102794 ,  4999388.56914989,
        5752916.22676371,  5985877.32167413,  5419628.13766853,
        3477741.57329012,  5715295.11506038,  6781061.10995558,
        2973875.7817819 ,  4544898.18925109,  5341919.48261926,
        5292268.06419027,  3911649.91196897,  2994601.17508259,
        4061312.80227752,  8327232.91356661,  5124446.26496101,
        6629269.106948  ,  3761420.3409527 ,  3155557.39303324,
        6635599.42871932,  4710823.36773861,  2770401.53311046,
        4403705.36477976,  6077347.3755437 ,  4182063.57720245,
        7592433.72982744,  2580463.201532  ,  3117119.14414675,
        3626391.70056861,  4576589.95329654,  7397033.78968234,
        4251702.60842057,  3045688.15302315,  4643254.54293458,
        6355208.78513165,  6512644.08205165,  3269930.85046524,
        7409448.75365915,  2559254.70527307,  5219611.88253385,
        6972913.28028156,  2545425.51728735,  3996685.60142159,
        5225227.7030356 ,  3775625.30045504,  7604523.32552962,
        4613886.55779429,  6082466.99040264,  4453936.71240409,
        4193927.90471418,  2891255.65153524,  7825064.82524622,
        2559709.75113213,  3159977.73882091,  3775625.30045504,
        6388354.30204053,  5458989.00129004,  5632091.09971036,
        4036799.40116935,  4303508.69354619,  4792967.31912546,
        5453632.00968268,  4062777.88477193,  4620137.96797202,
        3329907.12171907,  5485917.69031787,  3175672.55245352,
        3830848.99456838,  3930427.02555273, 10787720.29310111,
        3127187.58771439,  6671186.04656188,  4559186.77448688,
        4739192.87211836,  6925443.18189714,  3386094.67824958,
        4636735.4359309 ,  3500358.68495693,  6874158.93465757,
        5407622.11558447,  4400549.96973671,  5101549.20077942,
        5860190.58349484])