In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
iris = pd.read_csv("Iris.csv")

In [3]:
iris.head(2)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [5]:
iris.drop('Id',axis=1,inplace=True)

In [7]:
from sklearn.linear_model import LogisticRegression  
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier  
from sklearn import svm  
from sklearn import metrics 
from sklearn.tree import DecisionTreeClassifier

In [8]:
iris.shape

(150, 5)

In [10]:
train, test = train_test_split(iris, test_size = 0.3)
print(train.shape)
print(test.shape)

(105, 5)
(45, 5)

In [11]:
train_X = train[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
train_y=train.Species
test_X= test[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']] # taking test data features
test_y =test.Species   #output value of test data

In [12]:
train_X.head(2)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
73            6.1           2.8            4.7           1.2
34            4.9           3.1            1.5           0.1

In [13]:
test_X.head(2)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
139            6.9           3.1            5.4           2.1
44             5.1           3.8            1.9           0.4

In [14]:
train_y.head()  ##output of the training data

73    Iris-versicolor
34        Iris-setosa
77    Iris-versicolor
88    Iris-versicolor
28        Iris-setosa
Name: Species, dtype: object

### Decision Tree

In [17]:
model=DecisionTreeClassifier()
model.fit(train_X,train_y)
prediction=model.predict(test_X)
print('The accuracy of the Decision Tree is',metrics.accuracy_score(prediction,test_y))

The accuracy of the Decision Tree is 0.9333333333333333